<!doctype html>
<html lang="en">
<html lang="en">

<head>
    <title>Who Is The Primary CSHer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#B0197E">
    <link rel="stylesheet" href="/static/css/csh-material-bootstrap/dist/css/csh-material-bootstrap.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="manifest" href="/static/manifest.json">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="/static/js/buttonAjax.js"></script>
</head>
{% block nav %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" zdata-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="/">Social Points</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <!-- put something here blease -->
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown navbar-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <img src="https://profiles.csh.rit.edu/image/{{ metadata["uid"] }}"
                                 title="{{ metadata["uid"] }}">
                            {{ metadata["uid"] }}
                            <span class="caret"></span>
                        </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="/settings">
                                    <span class="glyphicon glyphicon-cog"></span>
                                    your points
                                </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="https://profiles.csh.rit.edu/user/{{ metadata[" uid "] }}">
                                    <span class="glyphicon glyphicon-user"></span>
                                    Profile
                                </a>
                        </li>
                        <li>
                            <a href="https://members.csh.rit.edu/">
                                <a href="https://members.csh.rit.edu/">
                                    <span class="glyphicon glyphicon-globe"></span>
                                    Members Portal
                                </a>
                        </li>
                        <li>
                            <a href="/logout">
                                    Logout
                                </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

<body>
    <body>
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading" style="color: #ffffff">
                    {{ metadata["uid"] }}
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-10">
			   <button id="pointsButton" name="pointsButton" class="btn btn-primary center-block" style="width: 100%">redeem points</button>
			</div>
          <div id="currentpoints" class="col-sm-2">
              your points
          </div>
        </div>
        </div>
      </div>
</div>
     {% block body %}
     {% endblock %}
   </body>
</html>
