{% extends "base.html" %}
{% block body %}
<div class = "container">
<div class = "panel panel-primary">
      <div class = "panel-heading" style="color: #ffffff">
           users
      </div>
      <div class = "panel-body">
	  {% for user in user_list%}
	  <img src="https://profiles.csh.rit.edu/image/"+{{ user.victim }} class="img-circle" width="60" height = "60"  style="margin-right:10px" alt="profile" onerror="this.onerror=null;this.src='https://profiles.csh.rit.edu/image/wgahnagl';"> {{ user.victim }}<span class="tab-space">{{ user.points }}  
	  {% endfor %}
    </div>
</div>
{% endblock %}
