{% extends "base.html" %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 ">
            <div class = "panel panel-primary" style="width: auto;"  >
               <div class = "panel-heading" style="color: #ffffff">                                                       users                                                          
               </div>
               <div class = "panel-body">                                                            
                 {% for user in user_list%}
		 <div class ="row">
		   <div class = "col-sm-2" style="height:60px">
		     <label>
		       <input type = "checkbox" id={{user.victim}} name="userButtons" value = "small"/>
		       <img src="https://profiles.csh.rit.edu/image/"+{{ user.victim }} class="img-circle"width="60" height = "60" id={{user.victim}}  alt="profile" onerror="this.onerror=null;this.src='https://profiles.csh.rit.edu/image/wgahnagl';">
		       </label>
		   </div>
		   <div class = "col-sm-5" style="height:60px">
		     <div style="position:relative; top:50%; transform:translateY(-50%)">
		       {{ user.victim }}
		     </div>
		   </div>
		   <div class = "col-sm-5" style="height:60px">
		     <div style="position:relative; top:50%; transform:translateY(-50%)" id = "userpoints">
		       {{ user.points }}
		     </div>
                   </div>
		  </div>		   
                  {% endfor %}                                                               
               </div>
	    </div>
  </div>
    <div class="col-sm-4">
            <div class="panel panel-primary" style="width: auto" position="absolute">
               <div class="panel-heading" style="color: #ffffff">               
                  controls                                                            
               </div> 
               <div class="panel-body">
		 <div data-toggle="buttons" style="padding: 9px 10px">
                 {% for ability in abilities_list%}
		 <label name="abilityButtons" class="btn btn-primary center-block" style="width:100%">
			 <input type="radio" name={{ability}}>
		   {{ability}}
		 </label> <br>
                 {% endfor %}
		 </div>
		 <button id="fireButton" name="fire" class="btn btn-primary center-block">
		   fire
		 </button>		 
	   </div>
         </div>
    </div>
    </div>
{% endblock %}
